@import '~antd/dist/antd.css';
html,body{
  height:100%;
  width:100%
}
#root{
  height:100%
}
.ant-layout-has-sider{
  position: absolute;
  height:100%;
  width:100%
}
.site-layout{
  width:100%
}

#components-layout-demo-custom-trigger .trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;
  }
  
  #components-layout-demo-custom-trigger .trigger:hover {
    color: #1890ff;
  }
  
  #components-layout-demo-custom-trigger .logo {
    height: 32px;
    background: rgba(255, 255, 255, 0.3);
    margin: 16px;
  }
  
  .site-layout .site-layout-background {
    background: #fff;
  }

  .logo{
    display:flex;
    justify-content: center;
    align-items: center;
    color:white;
  }
a{
  text-decoration: none;
  /* color:white */
}
.spinpo{
  position: relative;
  left:50%;
  top:50%;
  transform:translateY(-50%);
}

.site-tag-plus {
  background: #fff;
  border-style: dashed;
}
.ant-tag{
  margin: 5px 0 0 16px;
  width:150px;
  height:30px;
  line-height: 30px;
  text-align: center;
}
/* .edit-tag {
  user-select: none;
} */
.tag-input {
  width: 78px;
  margin-right: 8px;
  vertical-align: top;
}
.tagwrapper{

}
